@import url('https://fonts.googleapis.com/css2?family=Belanosima&family=Rubik+Vinyl&display=swap');

.theme-toggle-container {
    width: 80%;
    height: 4%;
    margin: 0;
    margin-left: 8px;
    display: flex;
    border-radius: 70px;
    padding: 2px;
    box-shadow: 10px 10px 10px #1f2937, 0px -8px 10px rgba(32, 32, 32, 0.453), -5px -5px 15px #212834 inset, 15px 15px 50px #161f29 inset;
    transition: background-color 0.5s, box-shadow 0.5s;
}

.theme-toggle-border {
    width: 100%;
    height: 100%;
    background-color: #1f2937;
    box-shadow: 5px 5px 10px #1f2937 inset, -4px -10px 10px #1d2736 inset;
    border-radius: 70px;
    margin: auto;
    display: flex;
    align-items: end;
    transition: background-color 0.5s, box-shadow 0.5s;
}

.theme-toggle-button {
    margin: auto;

    width: 30%;
    height: 75%;
    background-color: #1f2937;
    border: 1px solid #1f2937 ;
    box-shadow: 10px 10px 15px #1f29379d, 
    -10px -10px 10px rgba(30, 30, 30, 0.696), 
    5px -2px 1px rgb(255, 255, 255) inset, 
    -2px 5px 10px #1f29379d inset;
    border-radius: 50%;
    transition: box-shadow 1s;

}

.theme-toggle-button:hover {
    cursor: pointer;
}

.theme-toggle-container.dark .theme-toggle-button {
    animation: rollback 1.5s forwards;
}

.theme-toggle-container.light .theme-toggle-button {
    animation: roll 1.5s forwards;
    
}

@keyframes roll {
    0% {
        transform: translateX(-95%) rotate(0deg);
    }
    100% {
        transform: translateX(95%) rotate(360deg);
    }
}

@keyframes rollback {
    0% {
        transform: translateX(95%) rotate(360deg);
    }
    100% {
        transform: translateX(-95%) rotate(0deg);
    }
}


.theme-toggle-disclaimer-link {
    text-decoration: none;
    color: white;
}

.theme-toggle-disclaimer-link:hover {
    font-weight: bolder;
}

/* Light mode styles */
.theme-toggle-container.light {
    background-color: rgb(253, 253, 253);
    box-shadow: 10px 10px 10px rgb(242, 241, 241), -4px -7px 15px rgb(242, 241, 241), 2px -5px 10px rgb(255, 255, 255) inset, -10px -1px 5px yellow inset;
}

.theme-toggle-border.light {
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 5px 10px rgb(236, 235, 235) inset, -2px 0px 2px rgb(254, 254, 1) inset;
}

.theme-toggle-button.light {
    box-shadow: 5px 5px 500px rgb(255, 255, 0) inset, 0.5px 0.5px 50px yellow;
    border: 1px solid rgb(255, 255, 255);
    background-color: orange;
}


