// Sidebar.scss

$dist-x: 65px;
$dist-y: 100px;

@keyframes blob-left-top-anim {
    0% {
      transform: scale(0.5) translate(0, -100px);
    }
  
    40% {
      transform: scale(1.1) translate(0, -3px);
    }
  
  
    60% {
      transform: scale(1) translate(0, 5px);
    }

    75% {
        transform: scale(1) translate(0, -2px);
      }

    90% {
        transform: scale(1) translate(0, 4px);
      }

  
    100% {
      transform: scale(1) translate(0, 0);
    }
  }
  

@keyframes blob-right-top-anim {
    0% {
        transform: scale(0.5) translate(0, -$dist-y);
      }
    
      40% {
        transform: scale(1.1) translate(0, -3px);
      }
    
    
      70% {
        transform: scale(1) translate(0, 5px);
      }
  
      90% {
          transform: scale(1) translate(0, -3px);
        }
  
    
      100% {
        transform: scale(1) translate(0, 0);
      }
}

@keyframes blob-left-bottom-anim {
    0% {
        transform: scale(0.5) translate(0, -$dist-y);
      }
    
      40% {
        transform: scale(1.1) translate(0, -3px);
      }
    
    
      70% {
        transform: scale(1) translate(0, 5px);
      }
  
      90% {
          transform: scale(1) translate(0, -3px);
        }
  
    
      100% {
        transform: scale(1) translate(0, 0);
      }
}

@keyframes blob-right-bottom-anim {
    0% {
        transform: scale(0.5) translate(0, -$dist-y);
      }
    
      40% {
        transform: scale(1.1) translate(0, -3px);
      }
    
    
      70% {
        transform: scale(1) translate(0, 5px);
      }
  
      90% {
          transform: scale(1) translate(0, -3px);
        }
  
    
      100% {
        transform: scale(1) translate(0, 0);
      }
}

@keyframes blob-five {
    0% {
        transform: scale(0.5) translate(0, -$dist-y);
      }
    
      40% {
        transform: scale(1.1) translate(0, -3px);
      }
    
    
      70% {
        transform: scale(1) translate(0, 7px);
      }
  
      90% {
          transform: scale(1) translate(0, -9px);
        }
  
  
    
      99% {
        transform: scale(1) translate(0, 0);
      }
}

.blobs{
    
    filter:url('#goo');
}


.animate {
  &.animate-item-1 {
    animation: 1.2s blob-left-top-anim  0s ease-out forwards;
  }
  &.animate-item-2 {
    animation: 1.2s blob-right-top-anim 0.2s ease-out forwards;

  }
  &.animate-item-3 {
    animation: 1.2s blob-left-bottom-anim 0.4s ease-out forwards;
  }
  &.animate-item-4 {
    animation: 1.2s blob-right-bottom-anim 0.6s ease-out forwards;
  }
  &.animate-item-5 {
    animation: 1.2s blob-five 0.8s ease-out forwards;
  }
}


.sidebar-footer {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 10px; /* Adjust padding as needed */
}


